/* nav {
      display: flex;
      gap: 16px;
      padding: 10px;
      background: #f5f5f5;
    } */

    /* Sidebar container */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e293b;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

/* Menu list */
.menu {
  list-style: none;
  padding: 0;
}

/* Menu item */
.menu li {
  margin-bottom: 15px;
}

/* Menu links */
.menu a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

/* Hover effect */
.menu a:hover {
  background-color: #334155;
  color: #fff;
}
