name: Angular 21 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build Angular App
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout Repo
        uses: actions/checkout@v4

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'   # Angular 21 compatible
          cache: 'npm'

      # 3️⃣ Install dependencies
      - name: Install Dependencies
        run: npm install
 
      # 6️⃣ Build Angular App
      - name: Build Angular
        run: npx ng build --configuration production  --base-href /demo-fullstack

      # 7️⃣ Upload build artifact (optional)
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-build
          path: dist/
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
